<div class="container mt-4">
    <form id="AddProduct"  enctype="multipart/form-data" method="post" action="/admin/addproduct">
        <h1 class="text-center">Add Medicines</h1>


        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <label for="name" class="form-label">Medicine Name:</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="mb-3 col-lg-6">
                    <label for="price" class="form-label">Price:</label>
                    <input type="number" class="form-control" id="price" name="price" required>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <label for="company" class="form-label">Company Name:</label>
                    <input type="text" class="form-control" id="company" name="company" required>
                </div>
                <div class="mb-3 col-lg-6">
                    <label for="dosage" class="form-label">Dosage Type:</label>
                    <input type="text" class="form-control" id="dosage" placeholder="Tablet, Syrup, etc." name="dosage" required>
                </div>
            </div>
        </div>

        <div class="container mb-3">
            <div class="row">
                <div class="col-12">
                    <label for="description" class="form-label">Description:</label>
                    
                        <textarea name="description" class="form-control" required placeholder="Leave a comment here" id="description" style="height: 100px"></textarea>
                      
                    
                </div>
            </div>
        </div>

 
        <div class="mb-3">
            <label for="image" class="form-label">Upload Image:</label>
            <input class="form-control" type="file" id="image" name="image" required>
 
        </div>

 
        <div class="d-flex justify-content-center align-content-center">
            <button  type="submit" class="btn btn-primary w-50">Add Medicine</button>
        </div>
    </form>
</div>




@* <script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>

    function AddProductForm(event)
    {   
        event.preventDefault();
        let formElement = document.getElementById("AddProduct");
        let formData = new FormData(formElement);

        

        $.ajax({
            type:"POST",
            url: '/Admin/AddProduct',
            // contentType: 'application/json; charset=utf-8',
            contentType: false,  // Important for file upload
            processData: false,  // Important for file upload
            data:formData,
            
            success: function (result) {
                alert("Success");
                
            },
            Error: function(){
                alert("ERROR");

            }

        })
    }

</script> *@