
@{
    List<decimal> prices = new List<decimal>();


    if(Model != null)
    {
        for (int i = 0; i < Model.Products.Count; i++)
        {
            prices.Add(Model.Products[i].Price * Model.CartDetails[i].Quantity);
        }

    }

}

<div class="container mt-4">
    <div class="row">

            <div class="col-md-6 mb-5 mb-md-0">
                        <form id="orderForm" method="post" action="/order/placeorder">
                <h2 class="h3 mb-3 text-black">Billing Details</h2>
                <div class="p-3 p-lg-5 border">
                    <div class="form-group">
                        <label for="c_country" class="text-black">Country <span class="text-danger">*</span></label>
                        <select id="c_country" class="form-control" name="c_country">
                            <option value="1">Select a country</option>
                            <option value="2">bangladesh</option>
                            <option value="3">Algeria</option>
                            <option value="4">Afghanistan</option>
                            <option value="5">Ghana</option>
                            <option value="6">Albania</option>
                            <option value="7">Bahrain</option>
                            <option value="8">Colombia</option>
                            <option value="9">Dominican Republic</option>
                        </select>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label for="c_fname" class="text-black mt-4">First Name <span class="text-danger">*</span></label>
                            <input type="text" class="form-control mt-2" id="c_fname" name="c_fname" required>
                        </div>
                        <div class="col-md-6">
                            <label for="c_lname" class="text-black mt-4">Last Name <span class="text-danger">*</span></label>
                            <input type="text" class="form-control mt-2" id="c_lname" name="c_lname" required>
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-md-12">
                            <label for="c_address" class="text-black mt-4">Address <span class="text-danger">*</span></label>
                            <input type="text" class="form-control mt-2" id="c_address" name="c_address" placeholder="Street address" required>
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-md-6">
                            <label for="c_state" class="text-black mt-4">State<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="c_state" name="c_state" required>
                        </div>
                    </div>

                    <div class="form-group row mb-5">
                        <div class="col-md-6">
                            <label for="c_email_address" class="text-black mt-4">Email Address <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="c_email_address" name="c_email_address" required>
                        </div>
                        <div class="col-md-6">
                            <label for="c_phone" class="text-black mt-4">Phone <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="c_phone" name="c_phone" placeholder="Phone Number" required>
                        </div>
                    </div>




                    <div class="form-group">
                        <label for="c_order_notes" class="text-black">Order Notes</label>
                        <textarea name="c_order_notes" id="c_order_notes" cols="30" rows="5" class="form-control"
                                  placeholder="Write your notes here..."></textarea>
                    </div>


                </div>
                <div class="form-group row mt-3">
                    <button type="submit" class="btn btn-primary btn-lg btn-block send-message" value="Place Order">Place Order</button>
                </div>
            
            </form>
            </div>
       
        <div class="col-md-6">

            <div class="row mb-5">
                <div class="col-md-12">
                    <h2 class="h3 mb-3 text-black">Coupon Code</h2>
                    <div class="p-3 p-lg-5 border">

                        <label for="c_code" class="text-black mb-3">Enter your coupon code if you have one</label>
                        <div class="input-group w-75">
                            <input type="text" class="form-control" id="c_code" placeholder="Coupon Code" aria-label="Coupon Code"
                                   aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary btn-sm px-4" type="button" id="button-addon2" style="height:3em">Apply</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-md-12">
                    <h2 class="h3 mb-3 text-black">Your Order</h2>
                    <div class="p-3 p-lg-5 border">
                        <table class="table site-block-order-table mb-5">
                            <thead>
                            <th>Product</th>
                            <th>Total</th>
                            </thead>
                            <tbody>
                                
                                                            @for (int i = 0; i < Model.Products.Count; i++)
                                {


                                    <tr>
                                        <td>@Model.Products[i].Name <strong class="mx-2">x</strong> @Model.CartDetails[i].Quantity</td>
                                        <td>@prices[i]</td>
                                    </tr>
                                    
                                }
                            </tbody>
                        </table>

                     


                    </div>
                </div>
            </div>

        </div>
    </div>

</div>




